@use "./variables";

.status__player {
	margin-bottom: 1rem;
}

.status__player,
.status__monster {
	text-align: center;

	progress {
		width: 100%;
		height: 3rem;
		border-radius: 10px;
		-webkit-appearance: none; 
		-moz-appearance: none;
		appearance: none;
		border: 1px solid #76c7c0;
		overflow: hidden;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

		&::-webkit-progress-bar {
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
			background-color: #eee;
		}

		&::-webkit-progress-value {
			background-color: #76c7c0;
			transition: all 0.3s ease-out;
		}

		&::-moz-progress-bar {
			background-color: #76c7c0;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
			transition: all 0.3s ease-out;
		}

		&.yellow-health {
			border-color: variables.$darker-yellow;
		}

		&.yellow-health::-webkit-progress-value {
			background-color: variables.$darker-yellow;
		}

		&.yellow-health::-moz-progress-bar {
			background-color: variables.$darker-yellow;
		}

		&.red-health {
			border-color: variables.$medium-red;
		}

		&.red-health::-webkit-progress-value {
			background-color: variables.$medium-red;
		}

		&.red-health::-moz-progress-bar {
			background-color: variables.$medium-red;
		}
	}
}

.progress-wrapper {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 0.5rem;
}

.progress-value {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #7d7b7b;
}

.progress-indicator--red {
	color: variables.$medium-red;
}

.progress-indicator--yellow {
	color: variables.$darker-yellow;
}
