$main-color: #fff;
$main-bg: #000814;
$secondary-bg: #001d3d;
$box-bg: #003566;
$dark-blue: #003566;
$medium-blue: #00427f;
$light-blue: #0085ff;
$lighter-blue: #54adff;
$yellow: #ffd60a;
$progress-bg: #680081;
$darker-yellow: #ffc300;
$dark-red: #871313;
$medium-red: #bc0000;
$medium-green: #7de07d;
$dark-green: #009200;
$light-green: #c1edc1;